body{
    background-color: #EEE;
}

a{
    text-decoration: none;
    color: goldenrod;


}

p{ 
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
}

h1{ 
    margin: auto;
    font-family: monospace;
    font-size: x-large;
}
h2{ 
    margin: 10;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
h3{ 
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}


p{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    background-color: white;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: rgb(50, 61, 85);
    color: white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
    background-color: white;
}

#nav {
    width: 235px;
    float: left;
}

#main {
    width: 788px;
    float: right;
}

#nav ul{
    list-style-type: none;
    padding: 0;

}



#footer {   
    clear: both;
    
    background-color: azure;
    
    text-align: right;
}
