body{
    background-color: #EEE;
}

a{
    text-decoration: none;
    color: goldenrod;    
}

h1{ 
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: rgb(163, 33, 33);
    color: white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
    background-color: white;
}

#nav {
    width: 180px;
    float: left;
}

#main {
    width: 600px;
    float: right;
}

#nav ul{
    list-style-type: none;
    padding: 0;

}



#footer {   
    clear: both;
    background-color: #EEE;
   
}
